.content {
  background-color: var(--plain-background);
  width: fit-content;
  padding: 10px 15px;
  border-radius: var(--component-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.upper-part {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.lower-part {
  padding-top: 10px;
  width: 100%;
}

.upper-part .left-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.upper-part .right-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--icon-background);
  border-radius: 10px;
  padding: 7px;
  gap: 5px;
  height: fit-content;
}

.upper-part .right-part .amount {
  font-weight: bolder;
  color: black;
  font-size: x-large;
}

.upper-part .right-part .desc {
  font-size: x-small;
}

.title {
  font-weight: 500;
  font-size: small;
  color: var(--red);
  margin-top: 5px;
}
.categories {
  display: flex;
  flex-direction: row;
}
.action-icon {
  transform: scale(0.5);
  margin: 0px -17px;
  cursor: pointer;
}

#barchart {
  padding: 0;
  margin: 0;
  width: 100%;
}
