.container {
  margin-top: 20px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 20px;
  border-bottom: solid 1px var(--border-color);
}

.view-all {
  font-size: x-small;
  cursor: pointer;
}

.view-all:hover {
  color: var(--blue);
}
