<div class="main-container">
  <div class="left">
    <div class="bank-account-card">
      <h2>Personal Information</h2>
      <div class="account-group">
        <i class="fa fa-user"></i>
        <div class="account-content">
          <div class="account-title">Username:</div>
          <div class="account-value">ariana123</div>
        </div>
      </div>

      <div class="account-group">
        <i class="fa fa-user"></i>
        <div class="account-content">
          <div class="account-title">Name:</div>
          <div class="account-value">Ariana Grande</div>
        </div>
      </div>
      <div class="account-group">
        <i class="fa fa-user"></i>
        <div class="account-content">
          <div class="account-title">Age:</div>
          <div class="account-value">25</div>
        </div>
      </div>
      <div class="account-group">
        <i class="fa fa-home"></i>
        <div class="account-content">
          <div class="account-title">Address:</div>
          <div class="account-value">XYZ Street, Chennai, India</div>
        </div>
      </div>
      <div class="account-group">
        <i class="fa fa-phone"></i>
        <div class="account-content">
          <div class="account-title">Phone :</div>
          <div class="account-value">9896563467</div>
        </div>
      </div>

      <div class="account-group">
        <i class="fa fa-envelope"></i>
        <div class="account-content">
          <div class="account-title">Email:</div>
          <div class="account-value">{{ "ariana@gmail.com" }}</div>
        </div>
      </div>
    </div>

    <div class="bank-account-card">
      <h2>Bank Account Information</h2>
      <div class="account-group">
        <i class="fa fa-user"></i>
        <div class="account-content">
          <div class="account-title">Account Holder:</div>
          <div class="account-value">Ariana Grande</div>
        </div>
      </div>
      <div class="account-group">
        <i class="fa fa-university"></i>
        <div class="account-content">
          <div class="account-title">Bank Name:</div>
          <div class="account-value">Bank of America</div>
        </div>
      </div>
      <div class="account-group">
        <i class="fa fa-credit-card"></i>
        <div class="account-content">
          <div class="account-title">Account Number:</div>
          <div class="account-value">1234-5678-9101-1121</div>
        </div>
      </div>
      <div class="account-group">
        <i class="fa fa-credit-card"></i>
        <div class="account-content">
          <div class="account-title">Account type:</div>
          <div class="account-value">Savings</div>
        </div>
      </div>

      <div class="account-group">
        <i class="fa fa-money"></i>
        <div class="account-content">
          <div class="account-title">Account Balance:</div>
          <div class="account-value">$25,000.00</div>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <div class="upper">
      <img
        class="image"
        src="https://media.istockphoto.com/id/1317804578/photo/one-businesswoman-headshot-smiling-at-the-camera.jpg?s=612x612&w=0&k=20&c=EqR2Lffp4tkIYzpqYh8aYIPRr-gmZliRHRxcQC5yylY="
        alt="Profile picture"
      />
    </div>
    <div class="lower">
      <div class="card">
        <div class="group">
          <div class="name">Ariana Grande</div>
          <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Repudiandae repellendus soluta reiciendis consectetur eaque nisi
            iure illo adipisci animi nihil quas, explicabo ullam sunt
            consequuntur perferendis, aliquid minima officia ad.
          </div>
          <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Repudiandae repellendus soluta reiciendis consectetur eaque nisi
            iure illo adipisci animi nihil quas, explicabo ullam sunt
            consequuntur perferendis, aliquid minima officia ad.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
