<div class="container">
  <div class="logo">
    <div class="logo-1">SmartSpend</div>
    <div class="logo-2">Expense Manager</div>
  </div>

  <div class="balance-card">
    <p class="balance-title">CURRENT BALANCE</p>
    <div class="balance-container">
      <div class="left">
        <i class="fa fa-money"></i>
      </div>
      <div class="right">
        <span class="balance">{{ 55569 | currency : "INR" }}</span>
        <span class="balance-desc">Total Expense</span>
      </div>
    </div>
  </div>

  <div class="sub-title">ATM CARD</div>
  <div class="current-card">
    <div class="row-1">
      <div class="currency-symbol">&#8360;</div>
      <div>Current Card</div>
    </div>
    <div class="row-2">{{ 549034554309 }}</div>
    <div class="row-3">
      <span>CARD HOLDER</span>
      <span class="user-name">{{ "Alien Pixels".toLocaleUpperCase() }}</span>
      <span></span>
    </div>
  </div>
  <div class="title">
    <div class="sub-title">LATEST ACTIVITY</div>
    <div
      class="view-all"
      [routerLink]="['/monthly-activities']"
      routerLinkActive="router-link-active"
    >
      View All
    </div>
  </div>
</div>
